body {
}

.historyMain {
	margin-top: 10px;
	width: 35%;
	background-color: darkgray;
}

.historyHeader {
	margin-bottom: 10px;
}

#currentCity {
	margin-top: 10px;
	width: 250px;
	background-color: lightgray;
}

#currentCityFiveDay {
	background-color: beige;
	clear: left;
}
